/* ############/ Google Fonts links /############ */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Montserrat:wght@500;600;700&display=swap");
/* ############/ Roots & Global Rules /############ */
html {
  scroll-behavior: smooth;
  scroll-padding-top: px;
}

a {
  text-decoration: none !important;
  color: inherit;
}

.ff-inter {
  font-family: "Inter", sans-serif;
}

.ff-mon {
  font-family: "Montserrat", sans-serif;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.w-4 {
  width: 4%;
}

.fw-900 {
  font-weight: 900;
}

.p-6 {
  padding-right: 6%;
}

.max-width {
  max-width: 700px;
}
/* =================/ start landing /================= */

header {
  background: #e0e0e0;
  color: #000;
}

header .links a svg {
  color: #000;
  transition: all 0.3s;
}

header .links a:hover svg {
  transform: translateY(-5px) scale(1.1);
  color: #466143;
}

header .cv {
  color: #000;
  transition: all 0.5s;
  cursor: pointer;
  border: 1px solid #466143;
  display: flex;
  position: relative;
  transition: all 0.5s;
  z-index: 1;
  overflow: hidden;
}

header .cv:hover {
  background-color: 466143;
  color: #fff;
  border: 1px solid transparent;
}

header .links-pdf svg:hover {
  color: #000;
}

header .links-pdf .download:hover svg {
  animation: up-down 1s infinite;
}

@keyframes up-down {
  0% {
    transform: translateY(-1px);
  }

  100% {
    transform: translateY(3px);
  }
}

.cv::before,
.cv::after {
  content: "";
  background-color: #466143;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}

.cv::before {
  z-index: -1;
  left: -30px;
}

.cv::after {
  z-index: -1;
  right: -30px;
}

.cv:hover:before {
  animation: left-move 1s forwards;
}

.cv:hover:after {
  animation: right-move 1s forwards;
}

@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }
  100% {
    left: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}

@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }
  100% {
    right: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}

header .lastestProject {
  background-color: #466143;
  color: #fff;
}

header .lastestProject .pic {
  background-color: #e0e0e0;
}

header .lastestProject a:hover {
  color: #000;
}

header .lastestProject .pic img{
  animation: 1.5s ease 0s infinite beat;
}

@keyframes beat {
    0%, 50%, 100% { transform: scale(1.2, 1.2); }
  30%, 80% { transform: scale(1.4, 1.4); }
}

/* ############/ Start Media Query /############ */
@media screen and (min-width: 1400px) {
  header .profilePic {
    width: 15% !important;
  }
}

@media screen and (max-width: 1200px) {
  header .profilePic {
    width: 40% !important;
  }

  header .logo {
    width: 6% !important;
  }
}

@media screen and (max-width: 992px) {
  header .profilePic {
    width: 40% !important;
  }

  header .logo {
    width: 9% !important;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
}
